<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Blog{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Django Blog Patform</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam provident fuga nisi mollitia. Laudantium placeat laborum impedit minima, voluptatibus, culpa magni provident obcaecati cupiditate quas repellendus illum harum, iste esse.</p>
    </footer>

</body>
</html>